@import "colors";
// BACKGROUND SECTION START
.bg-theme-gunmetal{
  background-color: @color-gunmetal;
}
.bg-theme-neon-green{
  background-color: @color-neon-green;
}
.bg-theme-blue-primary{
  background-color: @color-blue-primary;
}
.bg-theme-milky{
  background-color: @color-milky;
}
.bg-course-details{
  background-color: slategrey;
}
.bg-video{
  background-color: #000;
}
// BACKGROUND SECTION END