@import "background";
@import "colors";

@font-face {
  font-family: Jost-Regular;
  src: url(/staticfiles/font/Jost-Regular.ttf);
}
@font-face {
  font-family: Jost-Black;
  src: url(/staticfiles/font/Jost-Black.ttf);
}
@font-face {
  font-family: Jost-Bold;
  src: url(/staticfiles/font/Jost-Bold.ttf);
}
body {
  font-family: 'Jost-Regular', sans-serif;
  padding-top: 55px;
}

.font-special-black {
  font-family: 'Jost-Black', sans-serif;
}
.font-special-bold {
  font-family: 'Jost-Bold', sans-serif;
}

.form-control {
  border-radius: 0 !important;
}
.dropdown-menu {
  border-radius: 0 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: @color-blue-primary;
    text-decoration: none;
    background-color: transparent;
}

.hr-style {
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
}

.ssl-bar {
  background: rgba(140, 144, 165, 0.1);
  border-radius: 18px;
  width: 15rem;
}

.bg-jumbo {
  background-image: url("/staticfiles/img/bg/bg-jumbo3.jpg");
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: @color-blue-primary;
}
.bg-courses {
  background-image: url("/staticfiles/img/bg/bg-courses.jpg");
  background-position: center;
  background-size: cover;
}
.bg-mentors {
  background-image: url("/staticfiles/img/bg/bg-mentors.jpg");
  background-position: top;
  background-size: cover;
}
.bg-experts {
  background-image: url("/staticfiles/img/bg/bg-experts.jpg");
  background-position: top;
  background-size: cover;
}
.bg-library {
  background-image: url("/staticfiles/img/bg/bg-library.jpg");
  background-position: top;
  background-size: cover;
}
.bg-blog {
  background-image: url("/staticfiles/img/bg/bg-blog.jpg");
  background-position: top;
  background-size: cover;
}
// navbar links colors
.navbar-light .navbar-nav .nav-link {
  color: #000000;
  &:hover {
    color: @color-blue-primary;
  }
  &:active {
    color: @color-blue-primary;
  }
}

// end navbar links colors
// footer start
.a-footer:hover {
  color: black !important;
}

.dark-link {
  color: black;
  &:hover {
    color: @color-blue-primary;
  }
}

.system-link {
  color: #6c757d;
  &:hover {
    color: @color-blue-primary;
  }
}

.header-link {
  color: #a2afbb;
  &:hover {
    color: white;
  }
}

.link-left-menu {
  color: black;
  &:hover {
    color: @color-blue-primary;
    font-weight: 700;
  }
}