version: '3.7'

services:
  web-prod:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    command: gunicorn mentoro.asgi:application -k uvicorn.workers.UvicornWorker -c gunicorn.conf.py
    expose:
      - "8000"
    env_file:
      - ./.env.prod
    depends_on:
      - db-prod
      - redis-prod
    networks:
      - mentoro-network
  db-prod:
    image: postgres:12.3
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db
    networks:
      - mentoro-network
  redis-prod:
    image: redis:6-buster
    restart: always
    volumes:
      - redis_data:/var/lib/redis/data/
    expose:
      - "6379"
    networks:
      - mentoro-network
  nginx-prod:
    restart: always
    build: ./nginx
    ports:
      - 80:80
      - 447:447
    depends_on:
      - web-prod
      - redis-prod
    networks:
      - mentoro-network

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
networks:
  mentoro-network:
