version: '3.7'

services:
  web:
    build: ./app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    env_file:
      - ./.env.dev
    depends_on:
      - postgresql
      - redis
    restart: always
    networks:
      - mentoro-network
  postgresql:
    image: postgres:12.3
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=mentoro_user
      - POSTGRES_PASSWORD=mentoro_password
      - POSTGRES_DB=mentoro_dev
    depends_on:
      - redis
    networks:
      - mentoro-network
  redis:
    image: redis:6-buster
    restart: always
    volumes:
      - redis_data:/var/lib/redis/data/
    expose:
      - "6379"
    env_file:
      - ./.env.dev
    networks:
      - mentoro-network

volumes:
  postgres_data:
  redis_data:
networks:
  mentoro-network:

