{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-jumbo pt-5">
        <div class="container col-lg-4 col-md-12 col-sm-12 pt-5 pb-5">
            <div class="card shadow rounded-0 border-0">
                <div class="card-body p-5">
                    <h5 class="text-primary font-special-bold text-center pb-3">Sign up for free and experience MENTORO today</h5>
                    <p class="text-center text-muted mb-0">Please check that you are visiting the correct URL:</p>
                    <div class="d-flex justify-content-center">
                        <section class="ssl-bar text-center">
                            <p class="p-2 mb-0"><i class="fas fa-lock text-success"></i> <span class="text-muted">https://</span>mentoro.online</p>
                        </section>
                    </div>
                    <form method="post" class="pt-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Your username" required>
                            <small id="" class="form-text text-muted">150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your first name" required>

                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your last name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your email" required>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="Your password" required>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                <p class="mb-0">Your password can’t be too similar to your other personal information.</p>
                                <p class="mb-0">Your password must contain at least 8 characters.</p>
                                <p class="mb-0">Your password can’t be a commonly used password.</p>
                                <p class="mb-0">Your password can’t be entirely numeric.</p>
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm your password" required>
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                Enter the same password as before, for verification.
                            </small>
                        </div>
                        <p class="text-center text-justify pt-3">Signing up signifies that you have read and agree to the Terms of Service and our Privacy Policy.</p>
                        <button class="btn btn-success btn-block rounded-0 shadow font-special-bold" value="Submit" type="submit">Create free account</button>
                    </form>
                    <p class="text-center pt-5">Already have an account? <a href="{% url 'user_login' %}" class="text-decoration-none">Log In</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}