{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container text-center pt-5 pb-5">
        <p>Szkoda że już Nas opuszczasz...</p>
        <img src="{% static 'img/icons/sad.svg' %}" style="height: 7rem;" class="img-fluid">
        <p class="pt-5">Udało ci się wylogować.</p>
        <p>Możesz <a href="{% url 'user_login' %}" class="text-decoration-none">zalogować się </a>ponownie lub wrócić do <a href="{% url 'home_index' %}" class="text-decoration-none">strony głównej</a>.</p>
    </div>
{% endblock content %}