{% extends 'base.html' %}
{% block content %}
    <section class="bg-dashboard">
        <div class="container col-lg-4 col-md-12 col-sm-12 pt-5 pb-5">
            <div class="card shadow rounded-0 border-0">
                <div class="card-body text-center p-5">
                    <h5 class="font-weight-bold text-primary text-center pb-3">Reset your password</h5>
                    <div class="alert alert-success" role="alert">
                        Email was successfully sent.
                    </div>
                    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered you should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}