{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pb-5 bg-theme-milky">
        <div class="container pt-4">
            <form>
                <div class="form-row">
                    <div class="col-7">
                        <input type="text" class="form-control" placeholder="Wpisz czego szukasz">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control" id="LanguageSelect">
                                <option>Wszystkie języki</option>
                                <option>Angielski</option>
                                <option>Polski</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow rounded-0 btn-block font-special-bold"><i class="fas fa-search"></i> Szukaj</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-3">
                    <div class="pb-3">
                        <a class="btn btn-success btn-block shadow rounded-0" href="{% url 'blog_new' %}" role="button"><i class="fas fa-plus"></i> Dodaj nowy wpis</a>
                    </div>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active rounded-0 shadow dark-link" href="{% url 'blog_all' %}">Wszystkie kategorie</a>
                        </li>
                        {% for blog_post in blog_post %}
                            <li class="nav-item">
                                <a class="nav-link dark-link" href="{% url 'library_all' %}">{{ blog_post.category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-lg-9">
                    {% for blog_post in blog_post %}
                        <div class="pb-3">
                            <div class="card rounded-0 shadow">
                                <a href="{% url 'blog_detail' pk=blog_post.pk %}"><img src="{{ blog_post.image_preview.url }}" class="img-fluid rounded-0" alt="{{ blog_post.title }}"></a>
                                <div class="card-body">
                                    <p class="mb-0 float-right">Pozytywnych <span class="text-success font-special-bold">422</span> i negatywnych <span class="text-danger font-special-bold">13</span> <a href=""
                                                                                                                                                                                                           class="text-decoration-none">recenzji</a></p>
                                    <p class="font-special-bold mb-0">{{ blog_post.language }}</p>
                                    <p>{{ blog_post.category }}</p>
                                    <a href="{% url 'blog_detail' pk=blog_post.pk %}" class="h5 text-decoration-none">{{ blog_post.title }}</a>
                                    <p>{{ blog_post.short_description|safe }}</p>
                                    <p class="mb-0">Opublikowane {{ blog_post.created_date }} przez <a href="" class="text-decoration-none">{{ blog_post.author }}</a></p>
                                    <p class="mb-0">Ostatnia aktualizacja {{ blog_post.published_date }}</p>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}