{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pb-5">
        <div class="container pt-4">
            <form>
                <div class="row">
                    <div class="col-7">
                        <input type="text" class="form-control" placeholder="Wpisz czego szukasz">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control" id="LanguageSelect">
                                <option>Wszystkie języki</option>
                                <option>Angielski</option>
                                <option>Polski</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow border-0 btn-block"><i class="fas fa-search"></i> Szukaj</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-3">
                    <div class="pt-3 pb-3">
                        <a class="btn btn-success btn-block shadow" href="{% url 'course_new' %}" role="button"><i class="fas fa-plus"></i> Dodaj wideo kurs</a>
                    </div>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active rounded-0 shadow dark-link" href="{% url 'courses_all' %}">Wszystkie kategorie</a>
                        </li>
                        {% for course in courses %}
                            <li class="nav-item">
                                <a class="nav-link dark-link" href="{% url 'courses_all' %}">{{ course.category }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9">
                    {% for course in courses %}
                        <div class="pt-3 pb-3">
                            <div class="card border-0 shadow">
                                <a href="{% url 'course_detail' pk=course.pk %}"><img src="{{ course.image_preview.cdn_url }}" class="img-fluid rounded-0" alt="{{ course.title }}"></a>
                                <div class="card-body">
                                    <h4 class="float-right text-white font-special bg-theme-gunmetal p-2">zł {{ course.price }}</h4>
                                    <p class="font-special-bold mb-0">{{ course.language }}</p>
                                    <p>{{ course.category }}</p>
                                    <a href="{% url 'course_detail' pk=course.pk %}" class="h5 text-decoration-none">{{ course.title }}</a>
                                    <p>{{ course.short_description|safe }}</p>
                                    <p class="mb-0">Opublikowany {{ course.published_date }} przez <a href="" class="text-decoration-none">{{ course.author }}</a></p>
                                    <p class="mb-0">Pozytywnych <span class="text-success font-special-bold">422</span> i negatywnych <span class="text-danger font-special-bold">13</span> <a href="" class="text-decoration-none">recenzji</a></p>
                                    <p>Sprzedany w ilości <span class="font-special">435</span> sztuk</p>
                                    <a href="#" class="btn btn-primary btn-block shadow border-0"><i class="fas fa-shopping-cart"></i> Kup</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}