{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="card shadow rounded-0">
                <div class="card-body">
                    <form method="post" id="example-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" value="Submit" class="btn btn-success btn-block shadow rounded-0 font-weight-bold">Add course</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

