{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pb-5">
        <div class="container pt-4">
            <form>
                <div class="row">
                    <div class="col-7">
                        <input type="text" class="form-control" placeholder="Wpisz czego szukasz">
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control" id="LanguageSelect">
                                <option>Wszystkie języki</option>
                                <option>Angielski</option>
                                <option>Polski</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary shadow border-0 btn-block"><i class="fas fa-search"></i> Szukaj</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-lg-3">
                    <div class="pt-3 pb-3">
                        <a class="btn btn-success btn-block shadow" href="{% url 'course_new' %}" role="button"><i class="fas fa-plus"></i> Dodaj wideo kurs</a>
                    </div>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active rounded-0 shadow dark-link" href="{% url 'courses_all' %}">Wszystkie kategorie</a>
                        </li>
{#                        {% for course in courses %}#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link dark-link" href="{% url 'courses_all' %}">{{ course.category }}</a>#}
{#                            </li>#}
{#                        {% endfor %}#}
                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link dark-link" href="{% url 'category_detail' pk=category.pk %}">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9">

                    {% for course in courses %}
                        <div class="pt-3 pb-3">
                            <div class="">
                                <div class="row d-flex align-items-center">
                                    <div class="col-lg-4">
                                        <a href="{% url 'course_detail' pk=course.pk %}"><img data-blink-src="{{ course.image_preview.cdn_url }}" class="img-fluid rounded shadow" alt="{{ course.title }}"></a>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <h5 class="float-right font-special">{{ course.price }} zł</h5>
                                                <h5 class="font-special mb-0"><span class="text-success font-special">422</span> / <span class="text-danger font-special">13</span></h5>
                                                <a href="{% url 'course_detail' pk=course.pk %}" class="h5 text-decoration-none">{{ course.title }}</a>
                                                <p class="m-0">{{ course.short_description|safe }}</p>
                                                <p class="mb-0">Opublikowany {{ course.published_date }} przez <a href="" class="text-decoration-none">{{ course.author }}</a></p>
                                            </div>
                                            <div class="card-footer">
                                                <p class="mb-1 text-center">Kurs sprzedany w ilości <span class="font-special">435</span> sztuk</p>
                                                <a href="#" class="btn btn-success btn-block shadow"><i class="fas fa-shopping-cart"></i> Kup i rozpocznij naukę</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}