{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 pb-5 bg-theme-milky">
        <div class="container">
            <div class="card border-0 bg-theme-gunmetal rounded-0 shadow">
                <div class="card-body text-center p-5">
                    <h3 class="text-white font-special-bold">Atrakcyjny program partnerski</h3>
                    <h5 class="text-primary pb-3">Oddajemy 5% naszych zysków</h5>
                    <a class="btn btn-light btn-lg shadow rounded-0 border-0 font-special-bold" href="{% url 'account_register' %}" role="button">Utwórz darmowe konto</a>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">

        </div>
    </section>

{% endblock content %}