{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5">

        <div class="container">
            <div class="card border-0 bg-theme-gunmetal shadow">
                <div class="card-body text-center pt-5 pb-5">
                    <h5 class="text-white font-special">Cennik</h5>
                    <p class="text-white">Oferta dostosowana dla każdego</p>
                    <a class="btn btn-neon shadow border-0" href="{% url 'account_signup' %}" role="button">Utwórz darmowe konto</a>
                </div>
            </div>
        </div>

        <section class="pt-5 pb-5 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="text-center pb-3"><img src="{% static 'img/icons/education.svg' %}" style="height: 5rem;" class="img-fluid" alt=""></div>
                                <h5 class="color-blue-primary font-special text-center">Uczeń</h5>
                                <p class="text-center">Kupuj kursy i zdobywaj wiedzę</p>
                                <hr class="my-2">
                                <p><i class="fas fa-check color-neon-green"></i> Darmowe konto</p>
                                <p><i class="fas fa-check color-neon-green"></i> Brak dodatkowych opłat za korzystanie</p>
                                <p><i class="fas fa-check color-neon-green"></i> Płacisz tylko za to co kupujesz</p>
                                <p><i class="fas fa-check color-neon-green"></i> Dożywotni dostęp do zakupionych materiałów</p>
                                <p><i class="fas fa-check color-neon-green"></i> Dodatkowe pieniądze za polecanie</p>
                                <hr>
                                <h5 class="font-special text-center">0 PLN</h5>
                                <p class="text-center color-blue-primary font-special">Na zawsze</p>
                                <hr>
                                <a class="btn btn-primary btn-block shadow" href="{% url 'account_signup' %}" role="button">Utwórz darmowe konto</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="text-center pb-3"><img src="{% static 'img/icons/education.svg' %}" style="height: 5rem;" class="img-fluid" alt=""></div>
                                <h5 class="color-blue-primary font-special text-center">Mentor i ekspert</h5>
                                <p class="text-center">Przekazuj swoją wiedzę i zarabiaj</p>
                                <hr class="my-2">
                                <p><i class="fas fa-check color-neon-green"></i> Darmowe konto</p>
                                <p><i class="fas fa-check color-neon-green"></i> Brak dodatkowych opłat za korzystanie</p>
                                <p><i class="fas fa-check color-neon-green"></i> Prowizja 10% miesięcznie za każdą subskrypcję</p>
                                <p><i class="fas fa-check color-neon-green"></i> Darmowe narzędzia do zarządzania uczniami</p>
                                <p><i class="fas fa-check color-neon-green"></i> Dodatkowe pieniądze za polecanie</p>
                                <p><i class="fas fa-check color-neon-green"></i> Wsparcie zespołu Mentoro</p>
                                <hr>
                                <h5 class="font-special text-center">0 PLN + 10% prowizji</h5>
                                <p class="text-center text-primary font-special">Na zawsze</p>
                                <hr>
                                <a class="btn btn-primary btn-block shadow border-0 font-special-bold" href="{% url 'account_signup' %}" role="button">Utwórz darmowe konto</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="text-center pb-3"><img src="{% static 'img/icons/education.svg' %}" style="height: 5rem;" class="img-fluid" alt=""></div>
                                <h5 class="color-blue-primary font-special text-center">Twórca</h5>
                                <p class="text-center">Twórz i sprzedawaj</p>
                                <hr class="my-2">
                                <p><i class="fas fa-check color-neon-green"></i> Darmowe konto</p>
                                <p><i class="fas fa-check color-neon-green"></i> Brak dodatkowych opłat za korzystanie</p>
                                <p><i class="fas fa-check color-neon-green"></i> Prowizja 10% za każdą sprzedaż</p>
                                <p><i class="fas fa-check color-neon-green"></i> Darmowe narzędzia</p>
                                <p><i class="fas fa-check color-neon-green"></i> Dodatkowe pieniądze za polecanie</p>
                                <p><i class="fas fa-check color-neon-green"></i> Wsparcie zespołu Mentoro</p>
                                <hr>
                                <h5 class="font-special text-center">0 PLN + 10% prowizji</h5>
                                <p class="text-center text-primary font-special">Na zawsze</p>
                                <hr>
                                <a class="btn btn-primary btn-block shadow border-0 font-special-bold" href="{% url 'account_signup' %}" role="button">Utwórz darmowe konto</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <section class="bg-theme-gunmetal pt-4 pb-4">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-10">
                        <p class="text-white mb-0">Potrzebujesz pomocy? Nasz dział wsparcia klienta udzieli Ci odpowiedzi na wszystkie nurtujące Cię pytania.</p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <a class="btn btn-neon shadow btn-block" href="https://tawk.to/chat/5f56492bf0e7167d000e1ff6/default" target="_blank" role="button"><i class="fas fa-headset"></i> Otwórz chat</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}