{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="text-center jumbotron bg-jumbo shadow rounded-0 min-vh-100">
        <div style="padding-top: 12rem;">
            <h1 class="text-uppercase font-special-black bg-white container">e-learning platform at a new level</h1>
            <h5 class="text-white">Study from the best mentors or become a mentor. Get knowledge from recognized mentors from around the world or pass it on to others.</h5>
            <hr class="my-4">
            <p class="text-white">You can open an account for free, no hidden fees. Registering takes less than 30 seconds.</p>
            {% if user.is_authenticated %}
                <a class="btn btn-light btn-lg shadow rounded-0 font-weight-bold" href="{% url 'dashboard_index' %}" role="button">Go to dashboard</a>
            {% else %}
                <a class="btn btn-light btn-lg shadow rounded-0 font-special-bold" href="{% url 'django_registration_register' %}" role="button">Create free account</a>
            {% endif %}
        </div>
    </div>

    <section class="pt-5 pb-5">
        <div class="container">
            <h3 class="text-center font-special-bold">Who is Mentoro for?</h3>
            <p class="text-center">For anyone who wants to learn or teach others.</p>
            <div class="row pt-5 text-center">
                <div class="col">
                    <h5 class="font-special-bold">For students</h5>
                    {#                    <img src="{% static '/img/icons/student.svg' %}" class="p-3" style="height: 12rem;" alt="">#}
                    <p class="text-justify text-center">Do you want to expand your knowledge? Mentoro is the right place. Here you will find educational courses in many fields, ebooks, experts in given fields and many mentors who want to teach.</p>
                    <a href="" class="nav-link">Find out more</a>
                </div>
                <div class="col">
                    <h5 class="font-special-bold">For teachers</h5>
                    {#                    <img src="{% static '/img/icons/mentor.svg' %}" class="p-3" style="height: 12rem;" alt="">#}
                    <p class="text-justify text-center">Do you want to expand your knowledge? Mentor is the right place. Here you will find educational courses in many fields, ebooks, experts in given fields and many mentors who want to teach.</p>
                    <a href="" class="nav-link">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5 bg-primary">
        <div class="container">
            <h3 class="text-white text-center font-special-bold">Why Mentoro?</h3>
            <p class="text-center text-white">Learn about our advantages</p>
            <div class="row pt-5 text-center">
                <div class="col">
                    <h5 class="font-special-bold text-white">Why for students</h5>
                    <h5 class="">Learn what you want online anywhere in the world</h5>
                    <h5>Uzyskuj wiedzę od najlepszych ekspertów w branży</h5>
                    <h5>Znajdz swojego mentora który będzie Cię prowadził w Twojej edukacji</h5>
                    <h5>Kupuj wyjątkowe ebooki tworzone przez pasjonatów</h5>
                </div>
                <div class="col">
                    <h5 class="font-special-bold text-white">Why for teachers</h5>
                    <h5></h5>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-5 pb-5">
        <div class="pb-5">
            <h3 class="text-center font-special-bold">Our products</h3>
            <p class="text-center">Get to know our products and start using them</p>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col bg-primary">
                    <div class="pt-5 pb-5 text-center">
                        <p class="text-uppercase font-special-bold">amazing video courses</p>
                        <h3 class="font-special-bold text-white">Mentoro | Courses</h3>
                        <p class="text-white">Po zdaniu egzaminu na naszej platformie otrzymujesz imienny certyfikat, który poświadcza zdobyte umiejętności. Certyfikat możesz wydrukować lub udostępnić w swoim profilu CV.</p>
                        <a class="btn btn-light shadow rounded-0 font-special-bold" href="#" role="button">Find out more</a>
                    </div>
                </div>
                <div class="col bg-courses">
                    <p class="pt-5 pb-5"></p>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col bg-primary">
                        <div class="pt-5 pb-5 text-center">
                            <p class="text-uppercase font-special-bold">mentors from around the world</p>
                            <h3 class="font-special-bold text-white">Mentoro | Mentors</h3>
                            <p class="text-white">Po zdaniu egzaminu na naszej platformie otrzymujesz imienny certyfikat, który poświadcza zdobyte umiejętności. Certyfikat możesz wydrukować lub udostępnić w swoim profilu CV.</p>
                            <a class="btn btn-light shadow rounded-0 font-special-bold" href="#" role="button">Find out more</a>
                        </div>
                    </div>
                    <div class="col bg-mentors">

                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col bg-primary">
                        <div class="pt-5 pb-5 text-center">
                            <p class="text-uppercase font-special-bold">the best in their fields</p>
                            <h3 class="font-special-bold text-white">Mentoro | Experts</h3>
                            <p class="text-white">Po zdaniu egzaminu na naszej platformie otrzymujesz imienny certyfikat, który poświadcza zdobyte umiejętności. Certyfikat możesz wydrukować lub udostępnić w swoim profilu CV.</p>
                            <a class="btn btn-light shadow rounded-0 font-special-bold" href="#" role="button">Find out more</a>
                        </div>
                    </div>
                    <div class="col bg-experts"></div>
                </div>
            </div>
        </div>

        <div class="pt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col bg-primary">
                        <div class="pt-5 pb-5 text-center">
                            <p class="text-uppercase font-special-bold">online library</p>
                            <h3 class="font-special-bold text-white">Mentoro | Library</h3>
                            <p class="text-white">A huge online library where you will find educational materials on every topic. Every user can create and add materials without restrictions and make money on them</p>
                            <a class="btn btn-light shadow rounded-0 font-special-bold" href="{% url 'library_all' %}" role="button">Find out more</a>
                        </div>
                    </div>
                    <div class="col bg-library"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-5 pb-5">
        <div class="container">
            <div class="pb-5">
                <h3 class="text-center font-special-bold">All on a simple rules</h3>
                <p class="text-center">Our business is based on simple and rigid principles that are understood by everyone</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 text-center">
                    <div class="pb-3">
                        <img src="{% static 'img/icons/one.svg' %}" class="img-fluid" style="height: 6rem;" alt="First rule">
                    </div>
                    <h3 class="font-special-bold text-primary">First rule</h3>
                    <h5 class="text-uppercase font-special-bold">free account</h5>
                    <p>Creating an account and using it is always free from anywhere on earth.</p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <div class="pb-3">
                        <img src="{% static 'img/icons/two.svg' %}" class="img-fluid" style="height: 6rem;" alt="Second rule">
                    </div>
                    <h3 class="font-special-bold text-primary">Second rule</h3>
                    <h5 class="text-uppercase font-special-bold">fixed commission</h5>
                    <p>Commissions for selling courses, training and materials will always be only 10%.</p>
                </div>
                <div class="col-lg-4 col-sm-12 text-center">
                    <div class="pb-3">
                        <img src="{% static 'img/icons/three.svg' %}" class="img-fluid" style="height: 6rem;" alt="Third rule">
                    </div>
                    <h3 class="font-special-bold text-primary">Third rule</h3>
                    <h5 class="text-uppercase font-special-bold">we share the profit</h5>
                    <p>We give away 5% of our profit in the affiliate program which is available to everyone.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary pt-5 pb-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-sm-12">
                    <h3 class="font-special-bold text-white">Teach</h3>
                    <h5 class="text-uppercase font-special-bold">earn for sale</h5>
                    <p class="text-white">The best instructors from around the world teach millions of participants in Mentoro. We give you access to the tools and skills to do what you love. </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h3 class="font-special-bold text-white">Learn</h3>
                    <h5 class="text-uppercase font-special-bold">free forever</h5>
                    <p class="text-white">The best instructors from around the world teach millions of participants in Mentoro. We give you access to the tools and skills to do what you love. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-theme-gunmetal pt-5 pb-5">
        <div class="container text-center">
            <h3 class="text-white font-special-bold">Knowledge is power. Get it from the best in the world without restrictions.</h3>
            <h5 class="text-primary pb-3">Anywhere on earth and at any time, it was never easier. Open an account and experience Mentoro products.</h5>
            <a class="btn btn-light btn-lg shadow rounded-0 border-0 font-special-bold" href="{% url 'django_registration_register' %}" role="button">Create free account</a>
        </div>
    </section>

{% endblock content %}
