{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 pb-5 bg-theme-milky">
        <div class="container pb-5">
            <div class="card border-0 bg-theme-gunmetal rounded-0 shadow">
                <div class="card-body text-center p-5">
                    <h3 class="text-white font-special-bold">Polityka prywatności</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card shadow rounded-0">
                <div class="card-body">
                    <p class="font-special-bold">I. Postanowienia ogólne</p>
                    <p>Zasady numer 1</p>
                </div>
            </div>
        </div>

    </section>


{% endblock content %}