{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 pb-5 bg-theme-milky">
        <div class="container">
            <div class="card border-0 bg-theme-gunmetal rounded-0 shadow">
                <div class="card-body text-center p-5">
                    <h3 class="text-white font-special-bold">About us</h3>
                    <h5 class="text-primary">Meet us and what we create</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">

        </div>
    </section>

{% endblock content %}