{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 bg-theme-milky">

        <div class="container pb-5">
            <div class="card border-0 bg-theme-gunmetal rounded-0 shadow">
                <div class="card-body text-center p-5">
                    <h3 class="text-white font-special-bold">Proste i przejrzyste warunki</h3>
                    <h5 class="text-primary pb-3">Na wszystko 4 x 10%</h5>
                    <a class="btn btn-light btn-lg shadow rounded-0 border-0 font-special-bold" href="" role="button">Utwórz darmowe konto</a>
                </div>
            </div>
        </div>

        <section class="pt-5 pb-5 bg-white">
            <div class="container">
                <p>Staramy się, aby nasze prowizje dla Ciebie były jak najniższe i dawały nam możliwości dalszego rozwoju.</p>
                <hr class="my-4">
                <div class="media">
                    <h1 class="align-self-center mr-5 font-special-bold">10%</h1>
                    <div class="media-body">
                        <h5 class="mt-0">Sprzedaż kursów wideo</h5>
                        <img src="{% static 'img/logo/logo-courses.png' %}" class="img-fluid" style="height: 3rem;" alt="Logo Mentoro Courses">
                        <p>Pobieramy 10% prowizji za każdy sprzedany kurs</p></div>
                </div>
                <hr class="my-4">
                <div class="media">
                    <h1 class="align-self-center mr-5 font-special-bold">10%</h1>
                    <div class="media-body">
                        <h5 class="mt-0">Za każdą sesję mentoringu</h5>
                        <img src="{% static 'img/logo/logo-mentors.png' %}" class="img-fluid" style="height: 3rem;" alt="Logo Mentoro Courses">
                        <p>Pobieramy 10% prowizji za każdy sprzedany kurs</p></div>
                </div>
                <hr class="my-4">
                <div class="media">
                    <h1 class="align-self-center mr-5 font-special-bold">10%</h1>
                    <div class="media-body">
                        <h5 class="mt-0">Sprzedaż szkoleń online</h5>
                        <img src="{% static 'img/logo/logo-experts.png' %}" class="img-fluid" style="height: 3rem;" alt="Logo Mentoro Courses">
                        <p>Za każde sprzedane szkolenie pobieramy 10% prowizji</p></div>
                </div>
                <hr class="my-4">
                <div class="media">
                    <h1 class="align-self-center mr-5 font-special-bold">10%</h1>
                    <div class="media-body">
                        <h5 class="mt-0">Sprzedaż ebooków i poradników</h5>
                        <img src="{% static 'img/logo/logo-library.png' %}" class="img-fluid" style="height: 3rem;" alt="Logo Mentoro Courses">
                        <p>Pobieramy 10% prowizji od każdego sprzedanego ebooka i poradnika</p></div>
                </div>
                <hr class="my-4">
                <div class="media">
                    <h1 class="align-self-center mr-5 font-special-bold">FREE</h1>
                    <div class="media-body">
                        <h5 class="mt-0">Blog edukacyjny</h5>
                        <img src="{% static 'img/logo/logo-blog.png' %}" class="img-fluid" style="height: 3rem;" alt="Logo Mentoro Courses">
                        <p>Każdy może przekazywać wiedzę bez ograniczeń.</p></div>
                </div>
                <hr class="my-4">
            </div>
        </section>

        <section class="bg-theme-gunmetal pt-5 pb-5">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-10">
                        <p class="text-white mb-0">Potrzebujesz pomocy? Nasz dział wsparcia klienta udzieli Ci odpowiedzi na wszystkie nurtujące Cię pytania.</p>
                    </div>
                    <div class="col-lg-2 text-center">
                        <a class="btn btn-primary font-special-bold shadow rounded-0 btn-block" href="https://tawk.to/chat/5edcfdc54a7c6258179a18a1/default" target="_blank" role="button"><i class="fas fa-headset"></i> Otwórz chat</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock content %}