{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 pb-5 bg-theme-milky">

        <div class="container pb-5">
            <div class="card border-0 bg-theme-gunmetal rounded-0 shadow">
                <div class="card-body text-center p-5">
                    <h3 class="text-white font-special-bold">Pricing</h3>
                    <h5 class="text-primary pb-3">For everything 4 x 10%</h5>
                    <a class="btn btn-light btn-lg shadow rounded-0 border-0 font-special-bold" href="{% url 'account_register' %}" role="button">Create free account</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card shadow rounded-0">
                        <div class="card-body">
                            <h5 class="text-primary font-special-bold text-center">Student</h5>
                            <p class="text-center">Buy courses and get knowledge</p>
                            <hr class="my-2">
                            <p>Free account</p>
                            <p>no additional fees for use</p>
                            <p>you only pay for the courses you buy</p>
                            <p>Lifetime access to courses and library files</p>
                            <p>Opportunity to earn extra money on recommending courses</p>
                            <hr>
                            <h5 class="font-special-bold text-center">0$ / forever</h5>
                            <hr>
                            <a class="btn btn-success btn-block shadow rounded-0 border-0 font-special-bold" href="{% url 'account_register' %}" role="button">Create free account</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow rounded-0">
                        <div class="card-body">
                            <h5 class="text-primary font-special-bold text-center">Mentor</h5>
                            <p class="text-center">Give your advice and earn</p>
                            <hr class="my-2">
                            <p>Free account</p>
                            <p>No additional fees for use</p>
                            <p>We charge 10% for each lesson sold</p>
                            <p>Free tools for managing students</p>
                            <p>Opportunity to earn extra money on recommending courses</p>
                            <p>Support of the Mentoro team</p>
                             <hr>
                            <h5 class="font-special-bold text-center">0$ / forever + 10% fee</h5>
                            <hr>
                            <a class="btn btn-success btn-block shadow rounded-0 border-0 font-special-bold" href="{% url 'account_register' %}" role="button">Create free account</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow rounded-0">
                        <div class="card-body">
                            <h5 class="text-primary font-special-bold pb-3">Expert</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

{% endblock content %}