{% extends 'base.html' %}
{% load cache %}
{% cache 3600 login_Page %}
    {% block content %}
        <section class="bg-jumbo pt-5 pb-5">
            <div class="container col-lg-4 col-md-12 col-sm-12 pt-5">
                <div class="card shadow rounded-0 border-0">
                    <div class="card-body p-5 text-center">
                        <h5 class="text-primary font-special-bold text-center pb-3">Account activation complete</h5>
                        <div class="alert alert-success shadow rounded-0" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Your account has been successfully activated.</p>
                            <hr>
                            <p class="mb-0">If you have any questions please contact our <a href="" class="text-decoration-none">support department.</a></p>
                        </div>
                        <a class="btn btn-primary btn-block shadow rounded-0 font-special-bold" href="{% url 'login' %}" role="button">Log in to your account</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
{% endcache %}