{% extends 'base.html' %}
{% load cache %}
{% cache 3600 login_Page %}
    {% block content %}
        <section class="bg-jumbo pt-5 pb-5">
            <div class="container col-lg-4 col-md-12 col-sm-12 pt-5">
                <div class="card shadow rounded-0 border-0">
                    <div class="card-body p-5">
                        <h5 class="text-primary font-special-bold text-center pb-3">Activation failed</h5>

                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
{% endcache %}