{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-jumbo pt-5 pb-5">
        <div class="container col-lg-4 col-md-12 col-sm-12 pt-5 pb-5">
            <div class="card shadow rounded-0 border-0">
                <div class="card-body pt-5">
                    <h5 class="text-primary font-special-bold text-center pb-3">Twoje konto zostało pomyślnie aktywowane</h5>
                    <p class="text-center pt-5">Możesz teraz się zalogować <a href="" class="text-decoration-none dark-link font-special-bold">Zaloguj się</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}