{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="pt-5 pb-5">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'courses_all' %}">My courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <h3>Dashboard</h3>
        </div>
    </section>
{% endblock content %}