{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-jumbo">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 bg-theme-blue-primary">
                   {% include 'dashboard_menu.html' %}
                </div>
                <div class="col pt-3 pb-3">
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <p>Wsparcie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}