{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-jumbo pt-5 pb-5">
        <div class="container pt-5 pb-5 col-lg-4 col-md-12 col-sm-12">
            <div class="card shadow rounded-0 border-0">
                <div class="card-body text-center pt-5">
                    <h5 class="color-blue-primary font-special text-center pb-3">Konto zablokowane</h5>
                    <p>Konto zablokowane: zbyt wiele prób logowania. Spróbuj ponownie później.</p>
                    <p>Twoje konto zostanie odblokowane za 5 minut.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}