{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-jumbo pt-5 pb-5">
        <div class="container pt-5 pb-5 col-lg-4 col-md-12 col-sm-12">
            <div class="card shadow rounded-0 border-0">
                <div class="card-body text-center pt-5">
                    <h5 class="text-primary font-special-bold text-center pb-3">Successfully logged out</h5>
                    <p>It is a pity that you are already leaving us...</p>
                    <img src="{% static 'img/icons/sad.svg' %}" style="height: 7rem;" class="img-fluid">
                    <p class="pt-5">We look forward to your return.</p>
                    <p>You can <a href="{% url 'account_login' %}" class="text-decoration-none">log in </a>again or return to the <a href="{% url 'home_index' %}" class="text-decoration-none">home page</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}