{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-jumbo">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 bg-theme-blue-primary">
                   {% include 'dashboard_menu.html' %}
                </div>
                <div class="col pt-3 pb-3">
                    <div class="pb-3">
                        <nav class="nav bg-white shadow rounded-0">
                            <a class="nav-link" href="{% url 'account_affiliate' %}">Link afilacyjny</a>
                            <a class="nav-link" href="#">Historia prowizji</a>
                        </nav>
                    </div>
                    <div class="card shadow border-0">
                        <div class="card-body">
                            <p>Program afilacyjny</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}