{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 bg-theme-blue-primary">
                    <ul class="nav flex-column pt-5 pb-5 text-center">
                        <a href="{% url 'account_dashboard' %}" class="h5 font-special text-white nav-link">Moja tablica</a>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Moje kursy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Strefa mentora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Strefa eksperta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Moja biblioteka</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Mój blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Profil publiczny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Program afilacyjny</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Ustawienia konta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-link" href="#">Wsparcie</a>
                        </li>
                    </ul>
                </div>
                <div class="col pt-3 pb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'account_dashboard' %}" class="text-decoration-none">Konto</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tablica</li>
                        </ol>
                    </nav>
                    <div class="card shadow border-0">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock content %}