{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="bg-dashboard">
        <div class="container">
            <div class="row">
                <div class="col-2 pt-5 pb-5 bg-white text-center shadow">
                    {% include 'blocks/left_menu.twig' %}
                </div>
                <div class="col pt-3 pb-3">
                    <div class="card shadow rounded-0">
                        <div class="card-body">
                            <div class="container">
                                {% include 'blocks/breadcrumb.twig' %}
                                <div class="alert alert-success" role="alert">
                                    Your password has been successfully changed. From now on, use the new password when logging in. In case of any problems, please contact our support department.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}