<ul class="nav flex-column pt-5 pb-5 text-center">
    <a href="{% url 'account_dashboard' %}" class="h5 font-special text-white nav-link">Moja tablica</a>
    <li class="nav-item">
        <a class="nav-link header-link" href="#">Moje kursy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="#">Strefa mentora</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="#">Strefa eksperta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="#">Moja biblioteka</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="{% url 'account_my_blog' %}">Mój blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="">Profil publiczny</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="{% url 'account_balance' %}">Saldo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="{% url 'account_affiliate' %}">Program afilacyjny</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="#">Ustawienia konta</a>
    </li>
    <li class="nav-item">
        <a class="nav-link header-link" href="{% url 'account_support' %}">Wsparcie</a>
    </li>
</ul>