{% load static %}
{# visible on screens larger than SM #}
<div class="d-none d-md-block">
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="{% url 'home_index' %}">
                        <img src="{% static 'img/logo/logo.png' %}" style="height: 1.5rem;" class="img-fluid" alt="Logo">
                    </a>
                    <div class="pt-3">
                        <a href="#" target="_blank"><img src="{% static 'img/social/facebook.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/instagram.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/twitter.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/youtube.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                    </div>
                    <p class="small pt-5">Copyright © 2019 - 2020 Mentoro Sp. z o.o.</p>
                    <img src="{% static 'img/payments/075-mastercard.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/032-visa.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/054-paypal.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/002-bitcoin-1.svg' %}" style="height: 2rem;" alt="">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">products</p>
                        <li><a href="{% url 'courses_all' %}" class="text-muted text-decoration-none a-footer">Mentoro | Courses</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Mentoro | Mentors</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Mentoro | Experts</a></li>
                        <li><a href="{% url 'library_all' %}" class="text-muted text-decoration-none a-footer">Mentoro | Library</a></li>
                        <li><a href="{% url 'home_affiliate' %}" class="text-muted text-decoration-none a-footer">Affiliate program</a></li>
                        <li><a href="{% url 'home_salescharges' %}" class="text-muted text-decoration-none a-footer">Sales charges</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">company</p>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">About us</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Cooperation</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Career</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Contact</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Legal information</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">support</p>
                        <li><a href="https://tawk.to/chat/5edcfdc54a7c6258179a18a1/default" target="_blank" class="text-muted text-decoration-none a-footer">Live chat</a></li>
                        <li><a href="" class="text-muted text-decoration-none a-footer">Customer service</a></li>
                        <li><a href="" class="text-muted text-decoration-none a-footer">Knowledge base</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
{# visible only SM - mobile #}
<div class="d-md-none">
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <a href="{% url 'home_index' %}">
                        <img src="{% static 'img/logo/logo.png' %}" style="height: 1.5rem;" class="img-fluid" alt="Logo">
                    </a>
                    <div class="pt-3">
                        <a href="#" target="_blank"><img src="{% static 'img/social/facebook.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/instagram.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/twitter.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                        <a href="#" target="_blank"><img src="{% static 'img/social/youtube.svg' %}" class="img-fluid mr-lg-3" style="height: 2rem;"></a>
                    </div>
                    <p class="small pt-5">Copyright © 2019 - 2020 Mentoro Sp. z o.o.</p>
                    <img src="{% static 'img/payments/075-mastercard.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/032-visa.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/054-paypal.svg' %}" style="height: 2rem;" alt="">
                    <img src="{% static 'img/payments/002-bitcoin-1.svg' %}" style="height: 2rem;" alt="">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 pt-5">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">products</p>
                        <li><a href="{% url 'courses_all' %}" class="text-muted text-decoration-none a-footer">Mentoro | Courses</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Mentoro | Mentors</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Mentoro | Experts</a></li>
                        <li><a href="{% url 'library_all' %}" class="text-muted text-decoration-none a-footer">Mentoro | Library</a></li>
                        <li><a href="{% url 'home_affiliate' %}" class="text-muted text-decoration-none a-footer">Affiliate program</a></li>
                        <li><a href="{% url 'home_salescharges' %}" class="text-muted text-decoration-none a-footer">Sales charges</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">company</p>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">About us</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Cooperation</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Career</a></li>
                        <li><a href="{% url 'home_index' %}" class="text-muted text-decoration-none a-footer">Contact</a></li>
                        <li><a href="#" class="text-muted text-decoration-none a-footer">Legal information</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <ul class="list-unstyled">
                        <p class="text-primary text-uppercase font-special-bold">support</p>
                        <li><a href="https://tawk.to/chat/5edcfdc54a7c6258179a18a1/default" target="_blank" class="text-muted text-decoration-none a-footer">Live chat</a></li>
                        <li><a href="" class="text-muted text-decoration-none a-footer">Customer service</a></li>
                        <li><a href="" class="text-muted text-decoration-none a-footer">Knowledge base</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
