{% load static %}
<section class="fixed-top bg-white shadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-white container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home_index' %}">
            <img src="{% static 'img/logo/logo.png' %}" style="height: 1.5rem;" alt="Mentoro">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produkty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'courses_all' %}">Mentoro | Wideo kursy</a>
                        <a class="dropdown-item" href="#">Mentoro | Mentorzy</a>
                        <a class="dropdown-item" href="#">Mentoro | Eksperci</a>
                        <a class="dropdown-item" href="{% url 'library_all' %}">Mentoro | Biblioteka</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_pricing' %}">Cennik</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Firma
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'home_aboutus' %}">O Nas</a>
                        <a class="dropdown-item" href="#">Współpraca</a>
                        <a class="dropdown-item" href="#">Kariera</a>
                        <a class="dropdown-item" href="#">Kontakt</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wsparcie</a>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <form class="form-inline my-2 my-lg-0">
                    <a href="" class="nav-link">Hi, {{ user.username }}</a>
                    <a href="{% url 'dashboard_index' %}" class="text-decoration-none dark-link">Dashboard</a>
                    <a href="{% url 'accounts_index' %}" class="nav-link text-decoration-none dark-link">Account</a>
                    <a class="btn btn-outline-danger font-weight-bold shadow rounded-0 my-2 my-sm-0" href="{% url 'account_logout' %}" role="button">Wyloguj</a>
                </form>
            {% else %}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 shadow rounded-0" type="search" placeholder="Wyszukaj cokolwiek" aria-label="Look for a mentor or course">
                    <a class="nav-link dark-link font-special-bold" href="{% url 'account_login' %}">Zaloguj</a>
                    <a class="btn btn-primary font-special-bold shadow rounded-0" href="{% url 'account_register' %}" role="button">Utwórz konto</a>
                </form>
            {% endif %}

        </div>
    </nav>
</section>